@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700,900);

@font-face {
  font-family: 'Coolvetica';
  src: url('../assets/fonts/CoolveticaRg-Regular.woff2') format('woff2'),
       url('../assets/fonts/CoolveticaRg-Regular.woff') format('woff'),
       url('../assets/fonts/CoolveticaRg-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}