doctype html  
html(lang='en')  
  head
    title Jason Jara – Frontend Developer | UI/UX Designer
    link(rel='stylesheet', href='style.css')
  body
    //- header.main-nav
    //-   - var items = { home: 'Home', about: 'About', contact: 'Contact'}
    //-   ul.menu
    //-     for item, key in items
    //-       li(class='menu__' + key)
    //-         a(href="/" + key) #{item}
    .hero
      .container
        .row
          .col
            .hero__text
              h1.font-green Looking for a Web Developer?
              h3.font-white I’m a web developer & UI designer from the Philippines. I make websites, usually with Wordpress.
      #particle-js

  script(src='./js/jquery-3.3.1.min.js')
  script(src='./js/bootstrap.min.js')
  script(src='./js/particles.min.js')
  script(src='./js/script')