.hero
  .container
    .row
      .col
        .hero__text
          h1.font-green Looking for a Web Developer?
          h3.font-white I’m a web developer & UI designer from the Philippines. I make websites, usually with Wordpress.
  .mouse__container
    a(href="#about").mouse.button
      .scroller
  #particles-js

main.site-content
  section.about#about
    .container-fluid.px-0
      .row
        .col-12
          .profile-img__container
            .profile-img
              img(src='./assets/images/icon.jpg').img-fluid
        .col-12
          .text-content
            h1.text-content__header Hi, I’m Jason. Nice to meet you!
            h3.text-content__sub I started nearly 4 years ago, and from that time, I already made over hundreds of websites. From static websites to full Wordpress sites, you name it. I'm quietly confident, naturally curious, and perpetually improving my craft.
