footer.footer#footer
  .container
    .row
      .col-md-6
        ul.social-icons
          li.social-icons__item
            a(href="#").social-icons__link
              i.fa.fa-behance
          li.social-icons__item
            a(href="#").social-icons__link
              i.fa.fa-linkedin
          li.social-icons__item
            a(href="#").social-icons__link
              i.fa.fa-github
          li.social-icons__item
            a(href="#").social-icons__link
              i.fa.fa-envelope-o
      .col-md-6
        p.footer-text &copy; 2019


a(href="#").scrollTop
  i.fa.fa-chevron-up.scrollTop__icon